body{background-color:#8BADC7; color: #FFFFFF;}

#cabecera{background-color:#183449; }


#pie{background-color:#183449; }


#pie_principal{background-color:#183449; display: none;}


#contenedor{background-color:#5A7F9A; }


#divCarousel{background-color: #051624;}

#myCarousel{width:100%;  margin: auto;}

.item,img{margin: auto;}


#marco{background-color:#183449; }

.thumbnail{ color: #000000; background-color: #C4DCEF;  padding-top: 5%;
height: 300px; overflow: hidden;
}
.thumbnail:hover{height: 100%;}

.thumbnail,p{padding-left: 2%; padding-right: 2%;}


/*.noticiasText{  height: 100px; overflow: hidden;
}

.noticiasText:hover{height: 100%;}*/



.btn{width: 100%;}


#boton_carga{color: #000000;}


#boton_carga:hover{color: #FFFFFF;}

.btn:hover{font-size: 2rem; color: #FFFFFF; background-color: #8BADC7;  }

.fuentes{color:#FFE4AD;}

.imgnoticia{text-align: center;}

#videos{background-color: #051624;}

#nuevoContenedor{background-color:#5A7F9A;}

#contenedor_boton_carga{background-color:#5A7F9A; }

#contenedor_extra{background-color:#5A7F9A; }


#cabecera_link{ text-decoration:none; color: #FFFFFF;}  
#cabecera_link:hover{ text-decoration:none; color: #FFFFFF;}   
#cabecera_link:link{ text-decoration:none; color: #FFFFFF;} 
#cabecera_link:visited{ text-decoration:none; color: #FFFFFF;} 




.col-sm-5{height: 600px;}


#anuncios{width: 300px; display: block;}



#anunciosMovil{display: none;}






/*
.thumbnail:hover{background-color: #8BADC7;}
*/


/*
.item{
	width: 100%;
	height: 350px;
}

.imagen1{
	background-image: url("../img/img_carr/noticia1_carr.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
}

.imagen2{
	background-image: url("../img/img_carr/noticia2_carr.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
}

.imagen3{
	background-image: url("../img/img_carr/noticia3_carr.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
}

.imagen4{
	background-image: url("../img/img_carr/noticia4_carr.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
}
*/