body{background-color:#8BADC7; color: #FFFFFF;}

#cabecera{background-color:#183449; }


#pie{background-color:#183449; }


#pie_principal{background-color:#183449; display: none;}


#contenedor{background-color:#5A7F9A; }


#divCarousel{background-color: #051624;}

#myCarousel{width:50%;  margin: auto;}

#marco{background-color:#183449; }

.thumbnail{ color: #000000; background-color: #C4DCEF;  }


.btn{width: 100%}


#boton_carga{color: #000000;}


#boton_carga:hover{color: #FFFFFF;}

.btn:hover{font-size: 2rem; color: #FFFFFF; background-color: #8BADC7  }

.fuentes{color:#FFE4AD;}

.imgnoticia{text-align: center;}




